<div class="items-sell-contents">
  <header class="items-sell-header">
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @thing, local: true do |f| %>

    <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
    <% render 'shared/error_messages', model: f.object %>
    <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        出品中画像
      </div>
        <%= image_tag @thing.image, class: 'image', width:600 %>
    </div>
    <%# /出品画像 %>
    <%# 出品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像の変更
      </div>
      <div id="image-list"></div>
      <div class="click-upload">
        <p>
          クリックして画像を変更
        </p>
        <%= f.file_field :image, id:"thing-image" %>
      </div>
    </div>
    <%# /出品画像 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"form-control", id:"thing-name", placeholder:"お気に入りの物の名前を教えて下さい！（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          紹介
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explanation, class:"items-text", id:"thing-info", placeholder:"お気に入りの物の紹介（必須 1,000文字まで）どうしてお気に入りなのか、思い出や便利な点などを教えてください！" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          価格
          <span class="indispensable">必須(半角数字)</span>
        </div>
      <%= f.text_area :price, class:"form-control", id:"thing-name", placeholder:"貰い物や価格がわからないものは0円にしましょう！", maxlength:"40" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          お気に入り度
          <span class="indispensable">必須(半角数字)</span>
        </div>
      <%= f.text_area :score, class:"form-control", id:"thing-name", placeholder:"どのくらいお気に入りか0-100で点数をつけてみましょう！", maxlength:"3" %>
      </div>
        <div class="items-explain">
    <div class='form-text-wrap'>
      <label class="form-text">出会った時期</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :date,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 0),
                    discard_day:true,
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 月 </p>" %>
    </div>
  </div>
    </div>
    <%# /商品名と商品説明 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "変更する" ,class:"sell-btn" %>
      <%=link_to 'もどる', thing_path(@thing.id), class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">フリマ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎Furima,Inc.
    </p>
  </footer>
</div>