<%= render "shared/header" %>
<div class='main'>

  <%# 帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      My Favorite Things
    </h2>
    <p class='service-explain'>
      〜私のお気に入り〜
    </p>
  </div>
  <%# //帯部分  %>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>みんなのお気に入り一覧</h2>
    <%= link_to 'あなたも投稿してみよう！', new_thing_path, class: "subtitle" %>
    <ul class='item-lists'>

    <% @things.each do |thing| %>
      <li class='list'>
        <%= link_to thing_path(thing.id) do %>
        <div class='item-img-content'>
          <%= image_tag thing.image, class: "item-img" %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= thing.name %>
          </h3>
          <div class='item-price'>
            <span><%= thing.price.to_s(:delimited) %>円<br></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'><%= thing.score %></span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>

      <%# 商品がない場合のダミー %>
      <% unless @things.present? %>
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
          <div class='item-info'>
            <h3 class='item-name'>
              商品を出品してね！
            </h3>
            <div class='item-price'>
              <span>99999999円<br>(税込み)</span>
              <div class='star-btn'>
                <%= image_tag "star.png", class:"star-icon" %>
                <span class='star-count'>0</span>
              </div>
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <%# //商品がない場合のダミー %>
    </ul>
  </div>
  <%# //商品一覧 %>

</div>
<%= link_to new_thing_path do %>
  <div class='purchase-btn'>
    <span class='purchase-btn-text'>新規投稿</span>
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  </div>
<% end %>
<%= render "shared/footer" %>