<%= render "shared/header" %>
<div class="items-sell-contents">

  <div class="items-sell-main">
    <h2 class="items-sell-title">お気に入りを投稿しよう！</h2>
    <%= form_with model: @thing, url: things_path, local: true do |f| %>

    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div id="image-list"></div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"thing-image" %>
      </div>
    </div>

    <div class="new-items">
      <div class="weight-bold-text">
        名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"form-control", id:"thing-name", placeholder:"お気に入りの物の名前を教えて下さい！（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          紹介
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explanation, class:"items-text", id:"thing-info", placeholder:"お気に入りの物の紹介（必須 1,000文字まで）どうしてお気に入りなのか、思い出や便利な点などを教えてください！" ,rows:"7" ,maxlength:"1000" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          タグ
        </div>
        <%= f.text_field :tagname, class:"items-text", id:"tag-field", placeholder:"タグをつけることが出来ます。" %>
      </div>
      <div id="search-result">
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          価格
          <span class="indispensable">必須(半角数字)</span>
        </div>
      <%= f.text_field :price, class:"items-text", id:"thing-name", placeholder:"貰い物や価格がわからないものは0円にしましょう！", maxlength:"40" %>
      </div>
      <div class="items-explain">
        <div class="weight-bold-text">
          お気に入り度
          <span class="indispensable">必須(半角数字)</span>
        </div>
      <%= f.text_field :score, class:"items-text", id:"thing-name", placeholder:"どのくらいお気に入りか0-100で点数をつけてみましょう！", maxlength:"3" %>
      </div>
        <div class="items-explain">
    <div class='form-text-wrap'>
      <label class="form-text">出会った日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :date,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    # prompt:'--',
                    default: Date.new(2020, 1, 1), # 最初に表示されている年月日
                    start_year: 1930,
                    end_year: (Time.now.year - 0),
                    # discard_day:true,
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
  </div>
    </div>
    <div class="sell-btn-contents">
      <%= f.submit "出品する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
  </div>
  <% end %>
</div>
<%= render "shared/footer" %>