<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h1 class="name">
      <%= @thing.name %>
    </h1>
    <div class='item-img-content'>
      <%= image_tag @thing.image ,class:"item-box-img" %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        <%= @thing.name %>
      </span>
    </div>

    <div class="item-explain-box">
      <span><%= @thing.explanation %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><a href="/users/<%= @thing.user.id %>"><%= @thing.user.nickname %></a></td>
        </tr>
        <tr>
          <th class="detail-item">価格</th>
          <td class="detail-value"><%= @thing.price %></td>
        </tr>
        <tr>
          <th class="detail-item">お気に入り度</th>
          <td class="detail-value"><%= @thing.score %></td>
        </tr>
        <tr>
          <th class="detail-item">購入時期</th>
          <td class="detail-value"><%= @thing.date %></td>
        </tr>
      </tbody>
    </table>
    <br><br>
    <% if user_signed_in? && current_user.id == @thing.user_id %>
      <%= link_to '商品の編集', edit_thing_path, method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', thing_path, method: :delete, class:'item-destroy' %>
    <% end %>
  </div>
  <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with url: thing_comments_path(@thing.id), model: @comment, local: true do |f| %>
        <%= f.text_area :text, class:"comment-text", placeholder:"コメントをご記入ください！" ,rows:"7" ,maxlength:"1000" %>
        <p class="comment-warn">
          <br>
        </p>
        <%= f.button type = "submit" , class:"comment-btn" do %>
          <%= image_tag "comment.png" , class:"comment-flag-icon" ,width:"20",height:"25"%>
          <span>コメントする<span>
        <% end %>
      <% end %>
    <% else %>
      <p class="comment-warn">
        <br>
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" , class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>ログインしてコメントしよう<span>
      </button>
    <% end %>

      <div class="container">
        <h3>＜コメント一覧＞</h3>
        <div id="comments" class="comments">
          <% if @comments %>
            <% @comments.each do |comment| %>
              <% if user_signed_in? && current_user.id == comment.user_id %>
                <p>
                  <%= comment.text %>
                  <strong> ：<%= comment.user.nickname %></strong>
                </p>
              <% else %>
                <p>
                  <strong><%= comment.user.nickname %>： </strong>
                  <%= comment.text %>
                </p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>

<%= render "shared/footer" %>